<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogapad">

    <uses-feature
        android:name="android.hardware.SensorManager"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/yogamat"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yogamat"
        android:supportsRtl="true"
        android:theme="@style/Theme.YogaPad">
        <activity android:name=".hot"></activity>
        <activity android:name=".help" />
        <activity android:name=".active" />
        <activity android:name=".funds" />
        <activity android:name=".passive" />
        <activity android:name=".practice" />
        <activity android:name=".profile" />
        <activity android:name=".menu" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>